// hover and focus states on buttons and links
.questionContainer li:hover {
  color: $main;
  background: $text;
}

.button:hover {
  color: $text;
}

.button:focus {
  background: $secondary;
  color: $dark;
}

.submit a:hover {
    background: $secondary;
    color: $main;
}

.submit a:focus {
    background: $secondary;
    color: $main;
    border: 2px solid $dark;
}