header {
  min-height: 300px;
  max-height: 300px;
  background: $main;
  display: flex;
  flex-direction: column;
}

header h1, header h2 {
  color: $secondary;
  text-shadow: 2px 2px $dark;
  margin: auto;
}

header h1 {
  text-align: center;
}

header h2 {
  margin-top: 0;
}

span {
  display: block;
}

