// Colours
$main: #3fb0ac;
$secondary: #fae596;
$text: #dddfd4;
$highlight: #173e43;
$dark: #00171f;

// Fonts
@font-face {
  font-family: headerFont;
  src: url(../fonts/gyparody\hv.ttf);
}

$subHeading: "Merriweather", serif;
$body: "Open Sans", sans-serif;
