//overall quiz containter, hidden to start
.quiz {
  display: none;
  padding: 8px;
  margin: auto;
  background: $main;
}

.quiz h2 {
  text-align: center;
}

//Quiz board styling
.quizBoard {
  display: flex;
  position: relative;
  border: 2px solid $dark;
}

.column {
  width: 25%;
  margin: auto;
}

.box {
  border: 2px solid $dark;
  border-bottom: none;
}

.box button,
.title {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: $secondary;
  text-shadow: 2px 2px $dark;
}

.box button {
  background: $highlight;
  border-style: none;
}

.title {
  background: $dark;
}

//dynamic classes and question container styling
.changeSize {
  position: absolute;
  width: 100%;
  height: 100%;
}

.questionContainer {
  background: $main;
  color: $text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questionContainer h2 {
  color: $secondary;
  padding-top: 40px;
}

.questionContainer ul {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.questionContainer li {
  flex-direction: row;
  margin: 10px 10px;
  height: 120px;
  width: 42%;
  border: 1px solid $secondary;
  text-align: center;
  padding: 20px;
  color: $text;
  background: $highlight;
}

.removeBox button {
  pointer-events: none;
  text-decoration: line-through;
  text-decoration-color: $dark;
  background: $text;
  color: $highlight;
}

li.selected {
  color: $highlight;
  background: $text;
}

//scoreboard, guess button, and restart button
.quizInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreBoard {
  display: flex;
  width: 33%;
  color: $text;
}

.scoreBoard h3 {
  color: $secondary;
  padding-right: 12px;
}

.guess {
  width: 33%;
}

.resultsRestart {
  justify-content: flex-end;
  width: 33%;
}

.resultsRestart a {
  background: $highlight;
  color: $secondary;
  border: 3px solid $text;
}
