.quiz {
  display: none;
  padding: 40px;
  margin: auto;
}

.quiz h2 {
  text-align: center;
  font-size: 30px;
}

.quizBoard {
  display: flex;
}
.column {
  width: 25%;
  margin: auto;
}

.box {
  border: 1px solid black;
}

.box button {
  width: 100%;
  height: 40px;
}
