.results {
  display: none;
  padding: 40px;
  margin: auto;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resultsContainer h2 {
padding-bottom: 40px;
}

.resultsContainer p {
  color: $text;
  padding-bottom: 20px;
}