.submit {
    display: flex;
    margin: auto;
    margin-top: 16px;
}

.submit a {
    border: 1px solid black;
    text-decoration: none;
    text-align: center;      
    background-color: $text;
    color: black;
    padding: 8px;
    border: 3px solid $highlight;
}

.submit a:hover {
    background: $secondary;
    color: $main;
}

.submit a:focus {
    background: $secondary;
    color: $main;
    border: 2px solid black;
}