a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: headerFont;
  src: url(../fonts/gyparody\hv.ttf);
}

.questionContainer li:hover {
  color: #3fb0ac;
  background: #dddfd4;
}

.button:hover {
  color: #dddfd4;
}

.button:focus {
  background: #fae596;
  color: #00171f;
}

.submit a:hover {
  background: #fae596;
  color: #3fb0ac;
}

.submit a:focus {
  background: #fae596;
  color: #3fb0ac;
  border: 2px solid #00171f;
}

.wrapper {
  max-width: 800px;
  margin: auto;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
}

h2,
h3 {
  font-family: "Merriweather", serif;
  font-weight: 700;
}

h1 {
  font-size: 10rem;
  font-family: headerFont;
  line-height: 10rem;
  letter-spacing: 0.4rem;
}

h2 {
  font-size: 3rem;
}

.submit a {
  font-family: "Merriweather", serif;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.resultsRestart a {
  font-size: 1.6rem;
}

.startPage {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.quiz h2 {
  font-size: 2.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

.box button {
  font-size: 3rem;
  font-weight: bold;
}

.scoreBoard {
  font-size: 3rem;
}

.resultsContainer h2 {
  font-size: 4rem;
}

.resultsContainer p {
  font-size: 3.6rem;
}

header {
  min-height: 300px;
  max-height: 300px;
  background: #3fb0ac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header h1,
header h2 {
  color: #fae596;
  text-shadow: 2px 2px #00171f;
  margin: auto;
}

header h1 {
  text-align: center;
}

header h2 {
  margin-top: 0;
}

span {
  display: block;
}

.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 16px;
}

.submit a {
  border: 1px solid #00171f;
  text-decoration: none;
  text-align: center;
  background-color: #dddfd4;
  color: #00171f;
  padding: 8px;
  border: 3px solid #173e43;
  border-radius: 10px;
}

.startPage {
  padding: 40px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #dddfd4;
  color: #00171f;
  -webkit-box-shadow: 5px 5px #00171f;
          box-shadow: 5px 5px #00171f;
}

.startPage h2 {
  margin: auto;
  text-decoration: underline;
}

.startPage p {
  padding: 20px;
}

.startPage li {
  padding: 0 20px;
  padding-bottom: 8px;
  list-style-type: disc;
  list-style-position: inside;
}

.quiz {
  display: none;
  padding: 8px;
  margin: auto;
  background: #3fb0ac;
}

.quiz h2 {
  text-align: center;
}

.quizBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border: 2px solid #00171f;
}

.column {
  width: 25%;
  margin: auto;
}

.box {
  border: 2px solid #00171f;
  border-bottom: none;
}

.box button,
.title {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #fae596;
  text-shadow: 2px 2px #00171f;
}

.box button {
  background: #173e43;
  border-style: none;
}

.title {
  background: #00171f;
}

.change-size {
  position: absolute;
  width: 100%;
  height: 100%;
}

.questionContainer {
  background: #3fb0ac;
  color: #dddfd4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questionContainer h2 {
  color: #fae596;
  padding-top: 40px;
}

.questionContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questionContainer li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 10px;
  height: 120px;
  width: 42%;
  border: 1px solid #fae596;
  text-align: center;
  padding: 20px;
  color: #dddfd4;
  background: #173e43;
}

.removeBox button {
  pointer-events: none;
  text-decoration: line-through;
  -webkit-text-decoration-color: #00171f;
          text-decoration-color: #00171f;
  background: #dddfd4;
  color: #173e43;
}

li.selected {
  color: #173e43;
  background: #dddfd4;
}

.quizInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scoreBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  color: #dddfd4;
}

.scoreBoard h3 {
  color: #fae596;
  padding-right: 12px;
}

.guess {
  width: 33%;
}

.resultsRestart {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 33%;
}

.resultsRestart a {
  background: #173e43;
  color: #fae596;
  border: 3px solid #dddfd4;
}

.results {
  display: none;
  padding: 40px;
  margin: auto;
}

.resultsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resultsContainer h2 {
  padding-bottom: 40px;
}

.resultsContainer p {
  color: #dddfd4;
  padding-bottom: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px auto 0;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dddfd4;
  background: #173e43;
}

body {
  background: #3fb0ac;
}
